@import '../fonts/Fontes';

#areaCartaz,
#areaDadosSerie {
    display: inline-block;
}

#areaCartaz {
    width: 30%;
    text-align: center;
    vertical-align: top;
    padding-top: 25px;
}

#areaDadosSerie {
    width: 70%;
    font-family: $fonte-padrao;

    h2 {
        font-family: $fonte-negrito;
    }

    .nomeCampo {
        font-family: $fonte-negrito;
        margin-right: 5px;
    }

    #sinopse {
        display: inline;
    }

}

@media only screen and (max-width: 600px) {

    #areaCartaz,
    #areaDadosSerie {
        display: block;
        margin: auto;
    }

    #areaCartaz {
        width: 100%;
    }

    #areaDadosSerie {

        width: 90%;
        padding: 0px 15px 30px 15px;


        h2 {
            text-align: center;
        }
    }
}