@import '../../Cores';
@import '../../fonts/Fontes';

.conteiner {
    padding: 0px 10px;

    h2 {
        color: $cor-titulo;
        font-family: $fonte-principal;
        padding-left: 5px;
    }

    #mensagemNenhumaLista {
        color: $cor-titulo;
        font-family: $fonte-principal;
        text-align: center;
        margin-top: 40px;
    }

    #listagem {
        margin: 5px;

        .item {
            text-align: center;
            font-family: $fonte-principal;
            color: $cor-titulo;
            background-color: $cor-fundo-item1;
            padding: 25px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    }

    #areaBotao {
        margin: 5px;

        #botaoNovaLista {
            padding: 15px 20px 15px 15px;
            background-color: $cor-menu;
            border-radius: 50%;
            float: right;

            img {
                width: 40px;
            }
        }
    }
}

#formNovaLista {
    padding: 10px;

    input {
        display: block;
        margin: auto;

        &[type=text] {
            width: 80%;
            height: 35px;
            font-size: 100%;
            border: 1px solid $cor-menu;
            border-radius: 5px;
            margin-bottom: 20px;
            font-family: $fonte-principal;
            padding: 5px 10px;
        }

        &[type=submit] {
            width: 40%;
            padding: 15px;
            background-color: $cor-menu;
            color: white;
            border-radius: 7px;
            font-size: 120%;
            font-family: $fonte-principal;
        }
    }



}