@import '../Cores';
@import '../fonts/Fontes';

.header {
    background-color: $cor1;
    padding: 5px 10px;

    img {
        width: 50px;
        margin-right: 20px;
    }

    span {
        color: white;
        font-family: $fonte-decorativa;
        font-size: 140%;
        vertical-align: 10px;
        text-shadow: 2px 2px #333333;
    }
}