@import '../../Cores';
@import '../../fonts/Fontes';

.menu {
    font-family: $fonte-principal;
    background-color: $cor-menu;
    color: white;
    padding: 20px 10px;
    margin-bottom: 10px;

    * {
        vertical-align: middle;
    }

    .logo {
        width: 30px;
        margin-right: 20px;
    }

    span {
        font-size: 130%;
    }
}